<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
  <Appenders>
    <Console name="Err" target="SYSTEM_ERR">
      <PatternLayout pattern="[%d{HH:mm:ss}] [%p] %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="Err"/>
    </Root>
  </Loggers>
</Configuration>
